.fighter-preview___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 250px;
  height: 100%;
  width: 100%;
  padding: 1em;
  background-color: #450000c0;
  color: white;
  border: 4px solid #e89805;
  box-shadow: 0 20px 30px rgba(233, 96, 4, 0.678);
}

.fighter-preview___info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fighter-preview___info p {
  padding: 0.3em;
  text-align: center;
}

.fighter-preview___info p span {
  color: aqua;
  border: 1.5px solid #c57e13c0;
  box-shadow: 0 20px 30px rgba(190, 188, 19, 0.678);
  border-radius: 0.5em;
  padding: 0.2em;
}

.fighter-preview___info p:nth-child(2) span {
  color: #79db1e;
}

.fighter-preview___info p:nth-child(3) span {
  color: #ff2e2e;
}

.fighter-preview___info p:nth-child(4) span {
  color: #ffe657;
}

.fighter-preview___img {
  width: 100%;
  height: 350px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
